{% extends 'blogs/base.html' %}

{% block big_title %}
{{ post.owner.username }}'s blog
{% endblock %}

{% block big_description %}
<p class="lead mb-0"><a href="{% url 'posts_index' post.owner.id %}" class="text-white font-weight-bold">Return blog index</a></p>
{% endblock %}

{% block content %}
<div class="blog-post">
    <h2 class="blog-post-title">{{ post.title }}</h2>
    <p class="blog-post-meta" style="margin-bottom: 0px;">{{ post.pub_date }} by <a href="{% url 'posts_index' post.owner.id %}">{{ post.owner.username }}</a></p>
    {% include "blogs/categories.html" with categories=post.category.all %}
    <p><strong>{{ post.description }}</strong></p><hr>
    <p>{{ post.content }}</p>
</div>
{% endblock %}